<%= bootstrap_form_for [@plant, @report] do |f| %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">How is the plant doing?</h4>
  </div>
  <div class="card-body" style="display:flex;justify-content:space-around;">
    <div>
      <%= f.number_field :height_in_centimeters, placeholder: "100" %><br>
      <%= f.file_field   :image %>
    </div>
    <div>
      <%= f.number_field :average_air_temp, placeholder: "75"%><br>
    </div>
    <div>
      <%= f.number_field :ph, placeholder: "6.6"%><br>
    </div>
    <div>
      <%= f.text_field   :diagnosis, placeholder: "Healthy" %><br>
      <%= f.text_area    :comments, placeholder: "Something else to say?"%><br>
      <%= button_to "Add Health Report", {}, {:class=>"btn btn-primary"} %>
    </div>
  </div>
</div>
<% end %>