  <div class="wrapper ">
    <div class="sidebar" data-color="default" data-active-color="danger">
      <div class="logo"> 
        <%= link_to root_path do %>
          <i class="nc-icon nc-bank"></i>
        <% end %>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <%= link_to crops_path do %>
              <i class="nc-icon nc-bank"></i>
              <span>Crops</span>
            <% end %>
          </li>
          <li>
            <%= link_to plans_path do %>
              <i class="nc-icon nc-bank"></i>
              <span>Gorwth Plans</span>
            <% end %>
          </li>
          <li>
            <%= link_to media_path do %>
              <i class="nc-icon nc-bank"></i>
              <span>Growth Mediums</span>
            <% end %>
          </li>
          <li>
            <%= link_to nutrients_path do %>
              <i class="nc-icon nc-bank"></i>
              <span>Nutrient Lines</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    
