<div class="plant card">
  <div class="plant card-header">
    <h3 class="plant card-title" id="header">Plant Details</h3>
    <hr>
  </div>
  <div class="plant card-body" id="body">
    <div class="plant" id="details">
      <div class="plant" id="start">
        <h5 class="card-category">Start Date</h5>
        <h4><%= @plant.start_date %></h4>
      </div>
      <div class="plant" id="crop">
        <h5 class="card-category">Crop</h5>
        <h4><%= @plant.crop.name %></h4>
      </div>
      <div class="plant" id="variant">
        <h5 class="card-category">Variant</h5>
        <h4><%= @plant.variant.name %></h4>
      </div>
    </div>
    <div class="plant" id="details">
      <div class="plant" id="plan">
        <h5 class="card-category">Plan</h5>
        <h4><%= @plant.plan.name %></h4>
      </div>
      <div class="plant" id="phase">
        <h5 class="card-category">Phase</h5>
        <h4><%= @plant.phase.name %></h4>
      </div>
      <div class="plant" id="media">
        <h5 class="card-category">Medium</h5>
        <h4><%= @plant.medium.name %></h4>
      </div>
    </div>
    <div class="plant" id="details">
      <div class="plant" id="rating">
        <h5 class="card-category">Health Rating</h5>
        <h4>SOME KIND OF RATING</h4>
      </div>
      <div class="plant" id="report-date">
        <h5 class="card-category">Last Report</h5>
        <h4>DATE OF REPORT</h4>
      </div>
      <div class="plant" id="next-harvest">
        <h5 class="card-category">EST. Harvest Date</h5>
        <h4>DATE OF HARVEST</h4>
      </div>
    </div>
  </div>
</div>