<tr>
  <td><%= plant.start_date %></td>
  <td><%= plant.harvested %></td>
  <td><%= plant.current_stage %></td> 
  <td><%= plant.grow_medium %></td>
  <td><%= plant.nutrient_mix %></td>
  <td><%= plant.light_intensity %></td>
  <td><%= plant.growth_track %></td>
</tr>
