<% next_date =  %>

<%= bootstrap_form_for [@user, @plant] do |f| %>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">What will you be growing today?</h4>
    </div>
    <div class="card-body" style="display:flex; justify-content:space-between;">
      <%= f.hidden_field :next_notification_date, :value => Date.today + 1.week %>
      <%= f.hidden_field :week_id, :value => 1 %>
      <div>
        <%= f.collection_select :crop_id, 
                                Crop.order(:name), 
                                :id, 
                                :name, 
                                {}, 
                                {:class=>'form-control', 
                                 :data_size=>'5',} %>
      </div>
      <div>
        <%= f.text_field        :light_system%>
      </div>
      <div>
        <%= f.collection_select :phase_id,
                                Phase.order(:id),
                                :id,
                                :name,
                                {},
                                {:class=>'form-control',
                                 :data_size=>'5'}%>
      </div>
      <div>
        <%= button_to 'Add Plant'%>
      </div>
    </div>
  </div>
<% end %>