<%= content_for :content_header do%>
  <div style="display:flex; justify-content:space-between">
    <div>
      <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
      <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
      <%= link_to 'Plan', plan_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
    </div>
    <div style="display: flex; justify-content: space-around; width: 300px">
      <div>
          <h6><%= @plant.start_date %></h6>
          <span>Start Date</span>
      </div>
      <div>
          <h6>May 10</h6>
          <span>Projected End Date</span>
      </div>
    </div>
  </div>
<% end %>
<div class="card">
    <h5 class="card-title"><%= @plant.plan.name %></h5>
    <span class="card-category"><%= @plant.plan.description %></span><br>
    <span class="card-category"> 
      Duration: <%= @plant.plan.weeks.length %> Week(s)
    </span>
</div>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Weekly Breakdown</h5>
    <%# Add a button to add another week to the plan%>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
        <%# This will need to iterate over the collection of nutrients %>
          <th>
          Week
          </th>
          <th>
          Nute 1
          </th>
          <th>
          Nute 2
          </th>
          <th>
          Nute 3
          </th>
          <th>
          Nute 4
          </th>
          <th>
          Nute 5
          </th>
        </thead>
        <tbody>
        <% @plant.plan.weeks.each do |week| %>
          <tr>
            <td>
              <%= week.id %>
            </td>
            <% week.nutrients.each do |nutrient| %>
              <td>
                <%= nutrient.amount_per_feeding %>ml
              </td>
            <% end %>
          </tr>
        <% end %>
        <%# 
          This will need to iterate over the collection of weeks
          and then iterate over the collection of Nutrients
          should have buttons for editing the week and removing the week
          will likely have a button to view the week in detail (whatever that looks like) 
        %>
        </tbody>
      </table>
    </div>
  </div>
</div>