<%= content_for :content_header do%>
  <div style="display:flex; justify-content:space-between">
    <div>
      <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
      <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
      <%= link_to 'Plan', plan_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
    </div>
    <div style="display: flex; justify-content: space-around; width: 300px">
      <div>
          <h6><%= @plant.start_date %></h6>
          <span>Start Date</span>
      </div>
      <div>
          <h6>May 10</h6>
          <span>Projected End Date</span>
      </div>
    </div>
  </div>
<% end %>
<div class="card">
    <h5 class="card-title"><%= @plant.plan.name %></h5>
    <span class="card-category"><%= @plant.plan.description %></span><br>
    <span class="card-category"> 
      Duration: <%= @plant.plan.weeks.length %> Week(s)
    </span>
</div>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Weekly Breakdown</h5>
    <%# Add a button to add another week to the plan%>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
        <%# This will need to iterate over the collection of nutrients %>
          <th>
          Week
          </th>
          <% @plant.plan.nutrients.each do |nutrient| %>
            <th>
              <%= nutrient.name %
            </th>
          <% end %>
        </thead>
        <tbody>
        <% @plant.plan.weeks.each do |week| %>
          <tr>
            <td>
              <%= week.id %>
            </td>
            <% week.nutrients.each do |nutrient| %>
              <td>
                <%= nutrient.amount_per_feeding %>ml
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>