<%= content_for :content_header do%>
  <div style="display:flex; justify-content:space-between">
    <div>
      <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
      <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
    </div>
    <div style="display:flex">
      <h5 style="margin:10px">Plant: <%= @plant.id %></h5>
    </div>
  </div>
<% end %>
<div class="card">
  <%= react_component('PlantHeader', props={plant: @plant, crop: @plant.crop, variant: @plant.variant})%>
</div>
<div class="row" style="justify-content:space-between">
  <div class="card" style="width:30%; margin-left:20px">
    <%= react_component('PlantGrowthSummary', props={report: @plant.health_reports.last}) %>
  </div>
  <div class="card" style="width:50%; margin-:20px">
    <%= react_component('PlantPlanSummary', props={plan: @plant.plan}) %>
  </div>
</div>