<%= content_for :content_header do %>
  <div class="card">
    <h1>
      <%= @plant.crop.name %>
    </h1>
    <h5>
      <%= @plant.created_at%>
    </h5>
  </div>
  <div>
    <div style="display:flex; justify-content:space-between">
      <div>
        <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
        <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
  <div class="row" style="justify-content:space-between">
    <div class="card" style="width:30%; margin-left:20px">
      <% if @plant.health_reports.last %>
        <%= react_component('PlantGrowthSummary', props={report: @plant.health_reports.last, image: url_for(@plant.health_reports.last.image.service_url)}) %>
      <% end %>
    </div>
  </div>