<%= content_for :content_header do%>
<div class="plantHeader">
  <div>
    <h3><%= @plant.crop.name %></h3>
    <h5><%= @plant.variant.name%></h5>
    <span><%= @plant.crop.description %></span>
  </div>
  <div>
    <h3><%= @plant.start_date %></h3>
    <h5><%= @plant.plan.name %></h5>
    <span>Estimated Harvest Date?</span>
  </div>
</div>
<hr>
<% end %>
</div>