<%= content_for :content_header do%>
  <div style="display:flex; justify-content:space-between">
    <div>
      <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
      <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
      <%= link_to 'Plan', plan_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
    </div>
    <div style="display: flex; justify-content: space-around; width: 300px">
      <div>
          <h6><%= @plant.start_date %></h6>
          <span>Start Date</span>
      </div>
      <div>
          <h6>May 10</h6>
          <span>Projected End Date</span>
      </div>
    </div>
  </div>
<% end %>
<div class="card">
  <%= react_component('PlantHeader', props={plant: @plant, crop: @plant.crop, variant: @plant.variant})%>
</div>
<div class="row" style="justify-content:space-between">
  <div class="card" style="width:30%; margin-left:20px">
    <% if @plant.health_reports.last %>
      <%= react_component('PlantGrowthSummary', props={report: @plant.health_reports.last, image: url_for(@plant.health_reports.last.image.service_url)}) %>
    <% end %>
  </div>
  <div class="card" style="width:50%; margin-:20px">
    <%= react_component('PlantPlanSummary', props={plan: @plant.plan}) %>
  </div>
</div>