<%= content_for :content_header do%>
  <div style="display:flex; justify-content:space-between">
    <div>
      <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
      <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
    </div>
    <div style="display:flex">
      <h5 style="margin:10px">Plant: <%= @plant.id %></h5>
      <h5 style="margin:10px"><%= @plant.crop.name %></h5>
    </div>
  </div>
<% end %>
<%= render partial: 'show_details' %>
<div class="row" style="justify-content:space-between">
  <%= render partial: 'show_growth' %>
  <%= render partial: 'show_plan' %>
</div>