<%= content_for :content_header do %>
  <div class="card">
    <h1>
      <%= @plant.crop.name %>
    </h1>
    <h5>
      <%= @plant.created_at%>
    </h5>
  </div>
  <div>
    <div style="display:flex; justify-content:space-between">
      <div>
        <%= link_to 'Overview', plant_path(@plant.id), class: "btn btn-primary btn-sm" %>
      <%= link_to 'Timeline', timeline_plant_path(@plant.id), class: "btn btn-primary btn-sm active" %>
      </div>
    </div>
  </div>
<% end %>
  <div class="row" style="justify-content:space-between">
    <%= react_component('PlantTimeline', props={healthReports: @plant.health_reports.all, harvestReports: @plant.harvest_reports.all}) %>
  </div>