<%= form_for @crop do |f| %>
<div>
  <%= f.text_field :name, placeholder: "Crop" %><br>
  <%= f.label :name, "Crop Name"%><br>
  <%= f.text_area :name, placeholder: "Enter Description Here..." %><br>
  <%= f.label :name, "Crop Description"%><br>
  <%= button_to "Add Crop" %>
</div>
<% end %>