<div class="card" style="width:40%;">
  <div class="card-header">
    <h5 class="card-title">Variety is the spice of life<h5>
    <span><%= %></span>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for [@crop, @variant] do |f| %>
      <%= f.text_field :name, placeholder: "Variant" %><br>
      <%= f.text_area :description, placeholder: "Enter Description Here..." %><br>
      <%= button_to "Add Variant", {}, {:class=>"btn btn-primary"} %>
    <% end %>
  </div>
</div>

/crops/1/variant/