<%= bootstrap_form_for [@plant, @harvest_report] do |f| %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">How was the harvest?</h4>
  </div>
  <div class="card-body" style="display:flex;justify-content:space-around;">
    <div>
      <%= f.number_field :height, placeholder: "100" %><br>
      <%= f.number_field :weight_wet_in_grams, placeholder: "24" %><br>
      <%= f.number_field :weight_dry_in_grams, placeholder: "24" %><br>
    </div>
    <div>
      <%= f.number_field :total_wattage_used, placeholder: "95" %><br>
      <%= f.number_field :total_water_used_in_milileters, placeholder: "75"%><br>
    </div>
    <div>
      <%= f.number_field :wattage_per_gram, placeholder: "10"%><br>
      <%= f.number_field :water_per_gram_in_milileters, placeholder: "10"%><br>
    </div>
    <div>
      <button class="btn btn-info">Add a picture</button>
      <%= button_to "Add Harvest Report", {}, {:class=>"btn btn-warning"} %>
    </div>
  </div>
</div>
<% end %>