<%= form_with url: "/media" do |media_form| %>
<div>
  <%= media_form.text_field :name, placeholder: "Medium" %><br>
  <%= media_form.label :name, "Medium Name"%><br>
  <%= media_form.text_area :name, placeholder: "Enter description here..." %><br>
  <%= media_form.label :name, "Medium Description"%><br>
  <%= button_to "Add Medium" %>
</div>
<% end %>