<div class="tab-pane active" id="info">
  <div class="card card-plain">
      <div class="card-header">
        <h6 class="card-title"><%= phase_detail.name %></h6>
        <p class="card-category"><%= phase_detail.description %></p>
        <span>Num of Weeks: <%= phase_detail.duration %> | </span>
        <span>Feedings per Week: <%= phase_detail.feed_frequency %></span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-left">
              <th>
                Name
              </th>
              <th>
                Manufacturer
              </th>
              <th class="text-right">
                Amount(per feeding)
              </th>
            </thead>
            <tbody>
              <%= render partial: "phase_nutrient", collection: Nutrient.where(phase_id: phase_detail.id, plan_id: phase_detail.plan_id)%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>