<div class="card" style="width:40%">
  <div class="card-header">
    <h5 class="card-title">Gotta have a plan</h5>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for @plan do |f| %>
      <%= f.collection_select :crop_id, Crop.order(:name), :id, :name %><br>
      <%= f.text_field :name, placeholder: "Plan" %><br>
      <%= f.text_area :description, placeholder: "Enter Description Here" %><br>
      <%= button_to "Add Plan" %>
    <% end %>
  </div>
</div>